#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "cellfund Lesson 6 Exercise 1"


# STEP 3.1 - Define configuration for fix interval


# STEP 3.2 - Define configuration for fix timeout


endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu